
body {
    padding: 25px;
    background-color: rgba(218, 215, 215, 0.86);
    color: black;
    font-size: 25px;
  }
 

  .col mb-3 {
    justify-content: center;
    background-color: black;
    display: flex;
  }
  .container {
    margin-top: 40px;
  }
  
  /* class selector for dark mode*/
  .dark-mode {
    background-color: black;
    color: white;
  }

.jumbotron
{
    background-color: rgb(154, 53, 248);
}

.image-container {
  display: flex;
  gap: 100px;
}

@media (max-width: 768px) {
  .image-container {
      display: block;
      margin-bottom: 20px;
  }
}



